In [22]:
import pandas as pd
import numpy as np

**TASK 1**

In [23]:
df = pd.read_csv("movies.csv")
result = df[(df['revenue'] > 2000000) & (df['spent'] < 1000000)]
print(result)

       title  revenue   spent  runtime
4    Movie_5  5723008  337381      100
13  Movie_14  3324036  333437      148
18  Movie_19  3623336  517405      166
19  Movie_20  9769640  722610       74
20  Movie_21  9046045  674334      102
28  Movie_29  7780065  465733      165

**TASK 2**

In [24]:
result = df.sort_values(by='runtime',ascending=False)
print(result)

       title  revenue    spent  runtime
6    Movie_7  5231193  1139961      177
21  Movie_22  1452542  1473023      177
25  Movie_26  8749095  2645828      173
2    Movie_3  1491399  2587563      168
18  Movie_19  3623336   517405      166
28  Movie_29  7780065   465733      165
10  Movie_11  1307760  4514795      163
9   Movie_10  1629862  2397013      160
7    Movie_8  8677870  3528439      158
27  Movie_28  6864656  3830503      156
17  Movie_18  5683801  2068759      152
13  Movie_14  3324036   333437      148
5    Movie_6  4857758  1308035      137
24  Movie_25  5061909  3728281      135
29  Movie_30  2524888  3302926      133
23  Movie_24  7471432  1837062      133
15  Movie_16  3209322  3038966      133
1    Movie_2  8898455  2638834      129
8    Movie_9  7610160  2390301      118
22  Movie_23  5231771  1553257      114
12  Movie_13  1341410  1052537      109
20  Movie_21  9046045   674334      102
16  Movie_17  3763751  1252469      102
4    Movie_5  5723008   337381      100
14  Movie_15  3031868  4048805       99
26  Movie_27  5841929  1840108       98
11  Movie_12  1663358  2679697       86
0    Movie_1  7493097  1196559       79
3    Movie_4  6790255  4861431       74
19  Movie_20  9769640   722610       74

**TASK 3**

In [25]:
exam_data = {
    'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
    'score':[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19],
    'attempts':[1,3,2,3,2,3,1,1,2,1],
    'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']
}
labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data,index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

**TASK 4**

In [26]:
df.index = range(100,100+len(df))
print(df)

          name  score  attempts qualify
100  Anastasia   12.5         1     yes
101       Dima    9.0         3      no
102  Katherine   16.5         2     yes
103      James    NaN         3      no
104      Emily    9.0         2      no
105    Michael   20.0         3     yes
106    Matthew   14.5         1     yes
107      Laura    NaN         1      no
108      Kevin    8.0         2      no
109      Jonas   19.0         1     yes

**TASK 5**

In [27]:
df = pd.read_csv("alcohol.csv")
print(df.shape)
print(df.columns)

(20, 5)
Index(['Year', 'WHO Region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

**TASK 6**

In [28]:
result = df[df['Year'].isin([1987,1989])]
print(result)

   Year WHO Region   Country Beverage Types  Display Value
0  1987     Africa  CountryC        Spirits           7.62
7  1989     Europe  CountryB           Wine           9.99

**TASK 7**

In [32]:
df = pd.read_excel("employee.xlsx")
result = df[df['JoinYear']==2024]
print(result)

    EmployeeID         Name  JoinYear Department  Salary
21          22  Employee_22      2024      Sales   87366
29          30  Employee_30      2024      Sales   80492
37          38  Employee_38      2024         IT   54420

**TASK 8**

In [33]:
products = pd.read_csv("products.csv")
orders = pd.read_csv("orders.csv")

In [34]:
print(products.head())
print(products.tail(10))

print(orders.head())
print(orders.tail(10))

   ProductID ProductName     Category  Price
0       1001   Product_1       Beauty   4303
1       1002   Product_2      Grocery    941
2       1003   Product_3  Electronics   2114
3       1004   Product_4  Electronics    738
4       1005   Product_5     Clothing   4607
    ProductID ProductName     Category  Price
40       1041  Product_41       Beauty   4486
41       1042  Product_42     Clothing   3914
42       1043  Product_43  Electronics   2569
43       1044  Product_44  Electronics    291
44       1045  Product_45       Beauty   4707
45       1046  Product_46  Electronics   3277
46       1047  Product_47       Beauty   3742
47       1048  Product_48       Beauty   3345
48       1049  Product_49     Clothing   1531
49       1050  Product_50  Electronics   2906
   OrderID  ProductID  Quantity  Order Date
0        1       1044         5  09-14-2024
1        2       1021         9  02-02-2024
2        3       1024         9  05-07-2024
3        4       1030         4  11-13-2024
4        5       1008         2  06-12-2024
    OrderID  ProductID  Quantity  Order Date
40       41       1014         4  02-01-2024
41       42       1003         6  01-15-2024
42       43       1050         4  07-11-2024
43       44       1006         8  12-06-2024
44       45       1027         8  09-24-2024
45       46       1013         7  11-09-2024
46       47       1030         7  04-23-2024
47       48       1023         7  04-04-2024
48       49       1049         5  11-21-2024
49       50       1034         5  02-02-2024

In [37]:
merged = orders.merge(products, on="ProductID")
merged['Revenue'] = merged['Quantity'] * merged['Price']
totalRevenue = merged['Revenue'].sum()
print(totalRevenue)

633100

In [39]:
sales = merged.groupby('ProductID')['Quantity'].sum().sort_values(ascending=False)
print(sales.head(5))
print(sales.tail(5))

ProductID
1013    24
1023    24
1030    18
1014    16
1027    16
Name: Quantity, dtype: int64
ProductID
1020    4
1017    3
1031    3
1018    1
1009    1
Name: Quantity, dtype: int64

In [41]:
topIds = sales.head(5).index
topProducts = products[products["ProductID"].isin(topIds)]
print(topProducts)

    ProductID ProductName     Category  Price
12       1013  Product_13     Clothing   3284
13       1014  Product_14     Clothing    563
22       1023  Product_23       Sports   4615
26       1027  Product_27  Electronics   2433
29       1030  Product_30       Beauty   2207

In [42]:
avg = products.groupby('Category')['Price'].mean()
print(avg)

Category
Beauty         3409.727273
Clothing       2661.777778
Electronics    1900.750000
Grocery        1871.250000
Sports         2011.300000
Name: Price, dtype: float64

In [45]:
merged['Order Date'] = pd.to_datetime(merged['Order Date'])
daily = merged.groupby(merged['Order Date'].dt.date)['Revenue'].sum()
monthly = merged.groupby(merged['Order Date'].dt.to_period('M'))['Revenue'].sum()
yearly = merged.groupby(merged['Order Date'].dt.year)['Revenue'].sum()

print(daily.idxmax())
print(monthly.idxmax())
print(yearly.idxmax())

2024-11-23
2024-11
2024

In [47]:
monthlydf = merged.groupby(merged['Order Date'].dt.to_period('M'))["Revenue"].sum().to_frame()
print(monthlydf)

            Revenue
Order Date
2024-01       26487
2024-02       65140
2024-03        1016
2024-04       49014
2024-05       43464
2024-06       56346
2024-07       32436
2024-08       40227
2024-09       50023
2024-10       16357
2024-11      127110
2024-12      125480

In [ ]:
print(products.isnull().sum())
print(orders.isnull().sum())

products = products.dropna()
orders = orders.dropna()

products = products.apply(lambda x: x.str.strip() if x.dtype=='object' else x)

ProductID      0
ProductName    0
Category       0
Price          0
dtype: int64
OrderID       0
ProductID     0
Quantity      0
Order Date    0
dtype: int64